<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-289">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Mukai Consultancy, Your Partner in Business Success</h2>
            </div>
            <p class="cs-text">
                Experience the power of personalized guidance from our seasoned consultants. Benefit from our proven methodologies, tailored solutions, and commitment to your success. Let us partner with you to achieve your business objectives and unlock your full potential.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3"> Leadership Development Programs: Cultivating Future Leaders</h3>
                    <p class="cs-item-text">
                        Comprehensive programs to equip individuals with the skills and knowledge needed to excel in leadership roles.
                    </p>
                
            </li>
            <li class="cs-item">
               
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Corporate Training: Empowering Your Workforce</h3>
                    <p class="cs-item-text">
                        Tailored training solutions to enhance employee skills, knowledge, and performance.
                    </p>
             
            </li>
            <li class="cs-item">
                
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Business Process Optimization: Streamlining Operations</h3>
                    <p class="cs-item-text">
                        Expert guidance on identifying and eliminating inefficiencies to improve operational efficiency and profitability.
                    </p>
              
            </li>
        </ul>
    </div>
</section>


<style>
    /*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-289 {
        text-align: center;
        padding: var(--sectionPadding);
    }
    #why-choose-289 .cs-container {
        width: 100%;
        /* changes to 1280px on tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #why-choose-289 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #why-choose-289 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #why-choose-289 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #why-choose-289 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #why-choose-289 .cs-text {
        max-width: 32.625rem;
    }
    #why-choose-289 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    #why-choose-289 .cs-item {
        list-style: none;
        text-align: left;
        width: 100%;
        padding: 2rem;
        background-color: #f7f7f7;
        border-radius: 1rem;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
        transition: background-color 0.3s;
    }
    #why-choose-289 .cs-item:hover {
        background-color: var(--primary);
        cursor: pointer;
    }
    #why-choose-289 .cs-item:hover .cs-icon {
        filter: grayscale(1) brightness(200%);
    }
    #why-choose-289 .cs-item:hover .cs-h3 {
        color: var(--bodyTextColorWhite);
    }
    #why-choose-289 .cs-item:hover .cs-item-text {
        color: var(--bodyTextColorWhite);
    }
    #why-choose-289 .cs-icon {
        width: auto;
        height: 3rem;
        margin-bottom: 1.5rem;
        display: block;
        transition: filter 0.3s;
    }
    #why-choose-289 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 1rem;
        color: var(--headerColor);
        transition: color 0.3s;
    }
    #why-choose-289 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition: color 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-289 .cs-container {
        max-width: 80rem;
    }
    #why-choose-289 .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 4rem;
    }
    #why-choose-289 .cs-flex {
        width: 50%;
    }
    #why-choose-289 .cs-title {
        margin: 0;
    }
    #why-choose-289 .cs-card-group {
        justify-content: space-between;
        /* makes sure every box "stretches" to be the same height as the tallest box */
        align-items: stretch;
        flex-direction: row;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #why-choose-289 .cs-item {
        width: auto;
        /* 16px - 32px */
        padding: 2rem clamp(1rem, 2.1vw, 2rem);
    }
}

     
</style>